@use '../util/'as *;
// boilerplate set basic and default styles for everything projects

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  line-height: var(--LH-main);
  background-color: var(--back-light-gray);
}

.main-container {
  max-width: rem(1200);
  justify-content: center;
  margin: 30px auto;
  border: 1px solid var(--border);
  border-radius: var(--borderradius);
  background-color: var(--white);
  box-shadow: var(--boxshadows);
  padding: rem(20);
}