// Write here your fonts variables

// Example of use
// **********************************
// :root {
//   --font-main: 'Inter', sans-serif;
// }
// ***********************************

:root {
  --font-main: 'Open Sans', sans-serif;
  --LH-main: 160%;
}